<!-- <a
style="cursor: pointer;"
  class="list-group-item list-group-item-action flex-column align-items-start clearfix"
  [routerLink]="[id]"
  routerLinkActive="active"
>
  <div class="float-start">
    <h4 class="">{{ recipe.name }}</h4>
    <p class="">{{ recipe.description }}</p>
  </div>
  <span class="float-right"
    ><img
      [src]="recipe.imgPath"
      class="rounded-circle ml-5"
      style="max-height: 70px; margin-left: 71px"
      alt=""
  /></span>
</a> -->

<a
  style="cursor: pointer"
  [routerLink]="[id]"
  routerLinkActive="active"
  class="list-group-item clearfix"
>
  <div class="float-start">
    <!-- Replace pull-left with float-start -->
    <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
    <p class="list-group-item-text">{{ recipe.description }}</p>
  </div>
  <span class="float-end">
    <!-- Replace pull-right with float-end -->
    <img
      [src]="recipe.imgPath"
      alt="{{ recipe.name }}"
      class="img-fluid rounded-2"
      style="max-height: 50px"
    />
  </span>
</a>
